* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg: #040D1F;
    --w: #fff;
    --lo: #ED8E00;
    --or: #F18128;
    --cr: 'CR', sans-serif;
    --cb: 'CB', sans-serif;
    --mr: 'MR', sans-serif;
    --mb: 'MB', sans-serif;
    --rr: 'RR', sans-serif;
    --rm: 'RM', sans-serif;
    --bl: #000;
}

body {
    background: var(--bg);
    color: var(--w);
    font-family: var(--cr);
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
